<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <title>Document</title>
  </head>
  <body>
    <h1>Hello vue!</h1>

    <div id="app">
      <div v-if="showBooks">
        <p>{{title}} - {{author}} -- {{age}}</p>
        <button v-on:click="age++">Increase age</button>
        <button v-on:click="age--">Decrease age</button>
        <br />
        <br />
        <div @click="changeTitle('New book')">Change book title</div>
      </div>
      <br />
      <button @click="toggleShowBooks">
        <span v-if="showBooks"> Hide books</span>
        <!-- v-if modifies the DOM / use it when data is dynamic  -->
        <span v-else>Show books</span>
      </button>
      <br />
      <div v-show="showBooks"><h3>Currently showing books</h3></div>
      <!-- v-show uses css display block / use it when data is static -->
    </div>
  </body>
  <script src="app.js"></script>
</html>
